.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.titre{
    font-size : 3em;
    color: #FF6060;
}
a{
    text-decoration: none;
    color: #FF6060;
}
.nav{
    display: flex;
    justify-content: space-around;
}
.boxNav{
    width: 70%;
    text-decoration: none;
    font-size: 20px;

}
.logokasa{
    Height : 60%;
}
li{
    list-style: none;
}
.activeLink{
    text-decoration: underline;
}
@media screen and (max-width: 767px){
    .titre{
        font-size : 2em;
        color: #FF6060;
    }
    .logokasa{
        Height : 30%;
    }
    li{
     font-size: 15px;
    }
}