.apropos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paraporpos{
    background: #F7F7F7;
    margin-bottom: 2%;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.upanddown{
  width: 16px;
  height: 10px;
}
button{
  background-color: #FF6060;
  border: none;
}
h3{
  margin: 0;
  font-weight: 500;
  font-size: 17px;
}
details > p{
    border-radius: 5px;
    font-weight: 500;
    color:#FF6060;
    margin: 1%;
    margin-bottom: 2%;
}
summary, .btnapropos{
    font-weight: 500;
    background-color: #FF6060;
    color: white;
    padding: 0px 3%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    border : none;
    height: 40px;
    align-items: center;
}

details>summary {
    list-style: none;
  }
  summary::-webkit-details-marker {
    display: none
  }
  summary::after {
    content: '>';
  }
  details[open] summary:after {
    content: ">";
    transform: rotate(90deg)
  }