.apropos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paraporpos{
    background: #F7F7F7;
    margin-bottom: 2%;
    width: 80%;
    display: flex;
}
p{
    border-radius: 5px;
    font-weight: 500;
    color:#FF6060;
    margin: 1%;
    margin-bottom: 2%;
}
summary{
    font-weight: 500;
    background-color: #FF6060;
    color: white;
    padding: 1%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

details>summary {
    list-style: none;
  }
  summary::-webkit-details-marker {
    display: none
  }
  summary::after {
    content: '>';
  }
  details[open] summary:after {
    content: ">";
    transform: rotate(90deg)
  }