h2 {
  font-size: 36px;
  font-weight: 500;
  color: #ff6060;
  margin: 0px;
}
h3 {
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
  text-align: left;
}
.profil {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
.description {
  display: flex;
  gap: 10%;
}
.boxhote > p,
.hote > p {
  color: #ff6060;
}
.tags{
  display: flex;
  gap : 10%;
  width: 10%;
}
.hoteeval{
  display: flex;
}
.tag {
  white-space: nowrap;
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  height: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 15%;
}
.hote {
  display: flex;
  justify-content: flex-end;
  gap: 2%;
  align-items: center;
}
.boxnote{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.information{
    display: flex;
    justify-content: space-between;
}
li{
    color: #ff6060;
}
@media screen and (max-width: 767px) {
  .information{
flex-direction: column;
  }
  .hoteeval{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
 h2{
font-size: 18px;
 }
  h3{
    font-size: 14px;
 }
 .profil{
  height: 32px;
  width: 32px;
 }
 .hote > p{
  size : 12px;
 }
 .description{
  flex-direction: column;
 }
}