@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap');
header{
font-size: 'Shantell+Sans';
}
h1{
    font-size: 48px;
    display: flex;
    position: relative;
    top: -200px;
    justify-content: center;
    color: white;
}
.box{
    padding: 5% 0;
    gap: 40px ; 
    margin-bottom: 2%;
    margin-top: -12%;
    background: #F6F6F6;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}