@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap');
header{
font-size: 'Shantell+Sans';
}
.home{
    margin: 3% 0%;
    display: flex;
    width: 100%;
    height: 220px;
    object-fit: cover;
    background-size: 100% 381px;
    border-radius: 25px;
    background-image: url(/src/images/IMG.jpg);
    align-items: center;
    justify-content: center;
}
h1{
    color: white;
    font-size: 48px;
}
.box{
    display: flex;
    gap: 50px ;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
}
.conteneur{
    padding-left: 1%;
    Width:28%;
    Height:340px;
    border-radius:10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    display: flex;
    flex-direction: column;
}
h5{
    display: flex;
    align-items: flex-end;
}
.imghome{
    width: 100%;
    height: 90%;
}