@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap');
header{
font-size: 'Shantell+Sans';
}
.imageacceuil{
    margin: 3% 0%;
    width: 100%;
    height: 220px;
    border-radius: 25px;
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/src/images/IMG.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}
h1{
    font-size: 48px;
}
.box{
    padding: 5% 0px;
    gap: 50px ; 
    margin-bottom: 2%;
    background: #F6F6F6;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}