section {
  position: relative;
}
.button-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}
.left, .right {
  background-color: transparent;
  color: white;
  cursor: pointer;
  user-select: none;
  border: none;
}
.compteur {
  position: absolute;
  bottom: 19px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 25px;
}
.carrousel {
  height: 415px;
  width: 100%;
  background-size: cover;
  border-radius: 25px;
  margin-bottom: 1%;
  object-fit: cover;
}
@media screen and (max-width: 992px) {
  .carrousel{
    height: 255px;
  }
  button img{
height : 30px;
  }
}
@media screen and (max-width: 767px) {
  .carrousel{
    height: 255px;
  }
}
